html,
body,
#root,
.App,
.App-cold,
.App-hot {
	min-height: 100vh !important;
}

.App,
.App-cold,
.App-hot {
	background-repeat: repeat-y;
}

.App {
	background-image: url(background/default.jpeg);
	background-size: cover;
}

.App-cold {
	background-image: url(background/cold.jpg);
	background-size: cover;
}

.App-hot {
	background: linear-gradient(
			119deg,
			rgba(255, 255, 233, 1) 0%,
			rgba(110, 242, 255, 0.4374124649859944) 71%,
			rgba(198, 243, 252, 1) 100%
		),
		url(background/hot.jpg);
	background-size: cover;
}
